<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Calendar.ascx.cs" Inherits="Asa.Timesheet.WebPages.UserControls.Calendar" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<TABLE class="calendarTable" id="tblCalendar" cellSpacing="0" cellPadding="0" runat="server">
</TABLE>
