﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="EditForm.ascx.cs" Inherits="Asa.Timesheet.WebPages.UserControls.EditForm" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<script language="javascript" src="js/EditForm.js"></script>
<asp:TextBox id="hdnViewMode" runat="server" style="display:none">1</asp:TextBox>
<asp:TextBox id="txtElements" runat="server" style="display:none"></asp:TextBox>
<asp:TextBox id="hdnVMButtons" runat="server" style="display:none"></asp:TextBox>
<asp:TextBox id="hdnEMButtons" runat="server" style="display:none"></asp:TextBox>
<asp:TextBox id="hdnExcls" runat="server" style="display:none"></asp:TextBox>
