<script language="javascript" src="color_conv.js"></script>

<script language="javascript">

function OnBtnColorClick(color,param){
	fnShowChooseColorDlg(color,param,"");
}

function OnChangeColor(color,param){
	if(color){
		if(param==1){
			document.getElementById('text_fld_1').value = color;
			document.getElementById('color_fld_1').style.backgroundColor = color;
		}else if(param==2){
			document.getElementById('text_fld_2').value = color;
			document.getElementById('color_fld_2').style.backgroundColor = color;
		}
	}
}

</script>

<body>
Color : <input style=" background-color:#CC3300;" type = "text" id="color_fld_1" name="color_fld_1"a value = ""/>
</BR>
Value : <input type = "text" id="text_fld_1" name="text_fld_1"  value = ""/>

<input type = "button" value = "Color" onClick = "OnBtnColorClick(document.getElementById('text_fld_1').value,1);"/>

<br/>

Color : <input style=" background-color:#CC3300;" type = "text" id="color_fld_2" name="color_fld_2"a value = ""/>
</BR>
Value : <input type = "text" id="text_fld_2" name="text_fld_2"  value = ""/>
<input type = "button" value = "Color" onClick = "OnBtnColorClick(document.getElementById('text_fld_2').value,2);"/>


</body>