body
{
	font-family: 'Open Sans', sans-serif;;
	font-size:8pt; 
	/*background-color:White;*/
	padding: 0px 20px;
	
}

a{color: #c73b2e}

input, select,textarea
{
	font-family: 'Open Sans', sans-serif;
	font-size:9pt;
	
/*	background-color:White;*/
}
td
{
	font-family: 'Open Sans', sans-serif;
	font-size:8pt; 
	
}
#header_lblTitle{font-weight: 300 !important; font-size: 36pt !important; color: #666}
.lblTitle{font-weight: 300 !important; font-size: 18pt !important; color: #666; border-bottom: thin solid black; padding-bottom: 20px;}
#_ctl0_header_lblTitle{font-weight: 300 !important; font-size: 18pt !important; color: #666; padding: 0px; line-height: 14px;}
#_ctl0_header_lblTitle:before{content: ":"; color: Black;}
.Total
{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color:Black;
}

.HoursGridHeader
{
	font-weight: bold;
	font-size: 9pt;
/*	background-image: url(../images/hdr.bmp);*/
	color: white;
	background-color: #c73b2e;
}

.GridHours
{
	font-size:9pt;
	text-transform: uppercase;
}

.PageCaption
{
	font-family: 'Open Sans', sans-serif;
	font-size:9pt; 
	font-weight: bold;
	color: black;
}
.error
{
	
	font-size:8pt; 
	color:Red;
}


.textbox
{
	border-right-color:#c73b2e;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#c73b2e;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:#c73b2e;
	border-left-style:solid;
	border-left-width:1px;
	border-bottom-color:#c73b2e;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.combo
{
	
	font-size: 8pt;
	color: Black;

}
	/*background-color: WhiteSmoke;
	border-color: #c73b2e;
	border-width: 2px;
	border-style:solid;*/


/*CALENDAR STYLE ******************************************************************/
.Calendar

}


.aspCalendar table 
{
    margin: 0px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.aspCalendar td{ padding: 0px;  }
.aspCalendar td > a{ display: inline-block; width: 32px; height: 32px;
                     text-decoration: none; line-height: 32px;
                    }
                    .aspCalendar tr:first-child a{ display: inline-block; width: 100%; text-align:center !important
                    }
                                        .aspCalendar tr:first-child a:hover{ display: inline-block;   color: Black; text-decoration:
                    }
.aspCalendar td > a:hover{ background: #C73B2E; color: White !important;
                    }


.DayHeaderStyle
{
	font-size:7pt;
	color:navy;
	border-style:none;
	border-width:thin;
}
.DayStyle
{
	font-size:7pt;
	color:navy;
	background-color:White;
	border-style:none;
	border-width:thin;
}
.SelectedDayStyle
{
	font-size:7pt;
	color:#CCFF99;
	background-color:#009999;
	border-style:none;
	border-width:thin;
}
.SelectorStyle
{
	font-size:7pt;
	color:navy;
	background-color:#99CCCC;
	border-style:none;
	border-width:thin;
}

.TitleStyle
{
	font-size:8pt;
	color:#CCCCFF;
	background-color:#003399;
	border-style:solid;
	border-width:1px;
	border-color:#3366CC;
}


.TodayStyle
{
	font-size:7pt;
	color:white;
	background-color:#99CCCC;
	border-style:none;
	border-width:thin;
}

.WeekendStyle
{
	font-size:7pt;
	/*color:white;*/
	background-color:#CCCCFF;
	border-style:none;
	border-width:thin;
}
.NextPrevStyle
{
	font-size:7pt;
	/*color:navy;*/
	background-color:#CCCCFF;
	/*border-style:none;
	border-width:thin;*/
}
.OtherMonthStyle
{
	font-size:7pt;
	/*color:navy;*/
	background-color:#999999;
	border-style:none;
	border-width:thin;
}
/*****************************************************************/

.enterDataBox
{
  font-size: 10pt;
  font-weight: 300;
  height: 32px;
  width: 80%;
  
}
select.enterDataBox 
{
  font-size: 10pt;
  font-weight: 300;
  height: 32px;
  width: 80%;
  
}
.enterDataBoxReadOnly
{
  
  font-size: 9pt;
  color: darkblue;
}

.enterDataLabel
{
	font-size: 9pt;
     margin-top: 8px !important;
	color: dimgray;
    text-transform: uppercase;
	font-weight: 300 !important;
	letter-spacing: 2px;
	float: right;
	width: 100%;
}
.enterDataLabel1
{
	font-size: 9pt;
 margin-top: 8px !important;
	color: dimgray;
    text-transform: uppercase;
	font-weight: 300 !important;
	letter-spacing: 2px;
	text-alignt: right;
	
}
.projectCodeBox
{
  border-right: dimgray 1px solid;
  padding-right: 2px;
  border-top: dimgray 1px solid;
  padding-left: 2px;
  font-size: 9pt;
  vertical-align: middle;
  border-left: dimgray 1px solid;
  width: 30px;
  color: midnightblue;
  border-bottom: dimgray 1px solid;
  text-align: right;
}


.Grid
        {
    border: none;
	width: 100% ;
}
#grid{OVERFLOW-Y: scroll; OVERFLOW-X: auto; height}


.GridHeader
{
	position: relative;
	TOP: expression(document.getElementById("grid").scrollTop-4); 
	left:-1;
	border: none;
	text-transform: uppercase;

}


.GridHeader TD
{

	font-size: 8pt;
	color: white;
    	background-color: #c73b2e;	
	border: none;
		font-weight: 400;
}
.GridListLabel
{
	font-weight: bold;
	font-size: 9pt;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	
}
.GridHeader1 TD
{
	font-weight: bold;

	color: white;
	background-color: #c73b2e;
}
.GridHeader1 A:link, .GridHeader A:Visited
{

	color: white;

}
.GridHeader A:link, .GridHeader A:Visited
{


	color: white;

}

		
.GridItem TD
{
	font-size: 10pt;
	
	border: none;
}

.GridAltItem TD
{
	font-size: 10pt;
	background-color: #fefefe;
	border: none !important;
}

.ActionButton
{
    
    border: thin solid whitesmoke;
	font-weight: bold;
	font-size: 9pt;
	width: auto;
	color: white;
	height: 32px;
	padding: 6px;
	background-color: dimgray;
	text-transform: uppercase;
		border: thin solid dimgray;
}

.Default{color: white ; border: thin solid #c73b2e; background: #c73b2e;}
.btnCircle
{font-family: Arial;line-height: 10pt; height: 16px; width: 16px !important; font-weight: 900;  font-size: 14pt; border-radius: 16px; border: none; padding: 0px; color: white; background: #666; cursor: pointer }
.btnCircle:hover{background: #999}
.Minus{font-size: 18px;}
.Plus{background: #c73b2e;;}
.Lang{}
.Exit{background: none; color: red}
.ActionButton:hover
{border: thin solid #c73b2e;
 color: #c73b2e;
background: white;
}

.HoursGridButton
{
	border-right: tan 1px outset;
	border-top: tan 1px outset;
	font-weight: bold;
	font-size: 9pt;
	border-left: tan 1px outset;
	width:100px;
	color: dimgray;
	border-bottom: tan 1px outset;
	height: 20px;
	background-color: whitesmoke;
}

/*Info labels */
.ErrorLabel
{
	font-weight: bold;
	font-size: 9pt;
	color: red;
}

.InfoLabel
{
	font-weight: bold;
	font-size: 9pt;
	color: black;

}

.HoursGridStatusLabel
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
}

/*Menu table */
table{ }
table td.menuLeft
{padding: 10px 20px; width: 200px !important; vertical-align:top; background: #fcfcfc;  border-spacing: 5px; 
}
.menuTable {border-spacing: 5px;}
.menuTable A:Visited, .menuTable A:Link
{
/*	font-size: 10pt; */
	color: #911204;
	background-color: transparent;
	text-decoration: none;
}

.highlightedMenuItem 
{
    color: grey !important;
    list-style: none;
	font-size: 10pt;
	font-weight:600;
	
}


.menuItem
{

    color: #111  !important;
	font-size: 9pt;
	padding-right: 10px;
		font-weight:300;
}

.menuTable A:hover
{
	text-decoration: underline;
}


/* report grid */

.ReportGrid
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	border-bottom-style: none;
}

.reportGrid TD
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 9pt;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
}



.reportGridHeader 
{
	font-weight: bold;
	font-size: 19pt;
	color: white;
	background-color: #c73b2e;
}
/* project profile */
.lblSubheader
{
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
}

.lblDiv1
{
	font-size: 11px;
	color: black;
}

.tabNotSelected
{

	color: navy;
	display: block;
	width: 90%;
	text-align: right;
	padding: 10px;
	text-decoration: none;
	color:#c73b2e;
}

.tabSelected
{
    position: relative;
	font-weight: bold;
	color: navy;
	display: block;
	width: 90%;
	text-align: right;
	padding: 5px;
	text-decoration: none;
	background:#c73b2e;
	color: White;
	
}
.tabSelected:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: c73b2e;
	border-left-color: #c73b2e;
	border-width: 8px;
	margin-top: -8px;
}
.tabSelected:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #c73b2e;
	border-width: 8px;
	margin-top: -8px;
}
.tabSelected:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c73b2e;
	border-width: 10px;
	margin-top: -10px;
}
.Div2Header
{
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.Div2Subheader
{
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
}

.Div2RowTitle
{
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.ReportsTotal
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	background-color: gray;
	
}
.ReportsSubTotal
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	background-color: lightgrey;
}
.inactive
{
	background-color: #E7D2B2;
}
.black
{
	background-color: lightgrey;
}


.testStyle
{
  color: #993300;
}

.projectFolderLink
{
  font-size: 9pt;
  color: navy;
}
.Concluded
{
	background-color: darkkhaki;
}
.DataLabel
{
	font-size: 9pt;
	width: 100%;
	color: dimgray;
	line-height: 50pt;
	
}
.textboxSalary
{
	width:50px;
	border-right-color:#c73b2e;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#c73b2e;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:#c73b2e;
	border-left-style:solid;
	border-left-width:1px;
	border-bottom-color:#c73b2e;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.red
{
	color: red;
}


	