
.calendarTable
{
	font-family: Verdana,Helvetica, Arial;
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
	border-collapse: collapse;
	text-align: center;
	padding:0;
}

.calendarTable TD
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	width: 17px;
	border-bottom: lightgrey 1px solid;
	height: 17px;
	text-align: center;
}

.calendarTable a:link, .calendarTable a:visited
{
	font-weight: bold;
	font-family: Verdana,Helvetica, Arial;
	font-size:9pt;
	text-decoration: none;
	background-color:Transparent;
}

.calendarTable a:hover
{
	text-decoration:underline;
}

.monthName
{
	font-family: Verdana,Helvetica, Arial;
	font-size:9pt;
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-weight: bold;
	border-left: lightgrey 1px solid;
	width: 50px;
	color: saddlebrown;
	border-bottom: lightgrey 1px solid;
	height: 15px;
	background-color: white;
	text-align: center;
}

.MonthDay A:visited, .MonthDay A:link
{
	color: saddlebrown;
}


.OtherMonthDay A:visited, .OtherMonthDay A:link
{
	color: tan;
}

.OtherMonthDayWeekend A:visited, .OtherMonthDayWeekend A:link
{
	color: tan;
}

.OtherMonthDayWeekend
{
	background-color: antiquewhite;
}

.Today
{
	background-color: wheat;
}

.Today A:visited, .Today A:link
{
	color: mintcream;
}

.WeekendDay
{
	background-color: antiquewhite;
}

.WeekendDay A:visited, .WeekendDay A:link
{
	color: saddlebrown;
}

.SelectedDay
{
	background-color: sandybrown;
}

.SelectedDay A:visited, .SelectedDay A:link
{
	color: white;
}


.NotEnteredDay A:visited, .NotEnteredDay A:link
{
	color: red;
}

.DayWeekendNotEntered
{
	background-color: antiquewhite;
}


.DayWeekendNotEntered A:visited, .NotEnteredDayWeekend A:link
{
	color: red;
}

.MonthDayNotEntered A:visited, .MonthDayNotEntered A:link
{
	color: red;
}

.NotEnteredDayLink
{
	font-weight: bold;
	color: blue;
	background-color: transparent;
}



