
.projectCodeBox
{
  border-right: dimgray 1px solid;
  padding-right: 2px;
  border-top: dimgray 1px solid;
  padding-left: 2px;
  font-size: 9pt;
  vertical-align: middle;
  border-left: dimgray 1px solid;
  width: 30px;
  color: midnightblue;
  border-bottom: dimgray 1px solid;
  font-family: Verdana,Helvetica, Arial;
  text-align: right;
}
body
{
	font-family:Verdana,Helvetica, Arial;
	font-size:8pt; 
	/*background-color:White;*/
	
}

input, select,textarea
{
	font-family:Verdana,Helvetica, Arial;
	font-size:8pt; 
	
/*	background-color:White;*/
}
td
{
	font-family:Verdana,Helvetica, Arial;
	font-size:8pt; 
	
}

.Total
{
	font-family: Verdana,Helvetica, Arial;
	font-weight: bold;
	font-size: 8pt;
	color:Black;
}

.HoursGridHeader
{
	font-weight: bold;
	font-size: 9pt;
/*	background-image: url(../images/hdr.bmp);*/
	color: white;
	background-color: peru;
}

.GridHours
{
	font-size:9pt;
}

.PageCaption
{
	font-family:Verdana,Helvetica, Arial;
	font-size:9pt; 
	font-weight: bold;
	color: black;
}
.error
{
	font-family:Verdana,Helvetica, Arial;
	font-size:8pt; 
	color:Red;
}


.textbox
{
	border-right-color:darkorange;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:darkorange;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:darkorange;
	border-left-style:solid;
	border-left-width:1px;
	border-bottom-color:darkorange;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.combo
{
	font-family:Verdana,Helvetica, Arial;
	font-size: 8pt;
	color: Black;

}
	/*background-color: WhiteSmoke;
	border-color: Peru;
	border-width: 2px;
	border-style:solid;*/


/*CALENDAR STYLE ******************************************************************/
.Calendar
{
	color: navy;
}

.DayHeaderStyle
{
	font-size:7pt;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#99CCCC;
	color:navy;
	border-style:none;
	border-width:thin;
}
.DayStyle
{
	font-size:7pt;
	color:navy;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:White;
	border-style:none;
	border-width:thin;
}
.SelectedDayStyle
{
	font-size:7pt;
	color:#CCFF99;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#009999;
	border-style:none;
	border-width:thin;
}
.SelectorStyle
{
	font-size:7pt;
	color:navy;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#99CCCC;
	border-style:none;
	border-width:thin;
}

.TitleStyle
{
	font-size:8pt;
	color:#CCCCFF;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#003399;
	border-style:solid;
	border-width:1px;
	border-color:#3366CC;
}


.TodayStyle
{
	font-size:7pt;
	color:white;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#99CCCC;
	border-style:none;
	border-width:thin;
}

.WeekendStyle
{
	font-size:7pt;
	/*color:white;*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#CCCCFF;
	border-style:none;
	border-width:thin;
}
.NextPrevStyle
{
	font-size:7pt;
	/*color:navy;*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#CCCCFF;
	/*border-style:none;
	border-width:thin;*/
}
.OtherMonthStyle
{
	font-size:7pt;
	/*color:navy;*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color:#999999;
	border-style:none;
	border-width:thin;
}
/*****************************************************************/

.enterDataBox
{
	font-size: 9pt;
	font-family: Verdana,Helvetica, Arial;
}

.enterDataLabel
{
	font-size: 9pt;
	width: 100%;
	color: dimgray;
	font-family: Verdana,Helvetica, Arial;
	text-align: right;
}


.Grid
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
}



.GridHeader
{
	position: relative;
	TOP: expression(document.getElementById("grid").scrollTop-4); 
	left:-1;
}


.GridHeader TD
{
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: Verdana,Helvetica, Arial;
	background-color: peru;
}
.GridHeader1 TD
{
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: Verdana,Helvetica, Arial;
	background-color: peru;
}
.GridHeader1 A:link, .GridHeader A:Visited
{
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: Verdana,Helvetica, Arial;
	background-color: peru;
	text-decoration:none;
}
.GridHeader A:link, .GridHeader A:Visited
{
	font-weight: bold;
	font-size: 9pt;
	color: white;
	font-family: Verdana,Helvetica, Arial;
	background-color: peru;
	text-decoration:none;
}

		
.GridItem TD
{
	font-size: 9pt;
	font-family: Verdana,Helvetica, Arial;
	background-color: white;
}

.GridAltItem TD
{
	font-size: 9pt;
	font-family: Verdana,Helvetica, Arial;
	background-color: whitesmoke;
}

.ActionButton
{
	border-right: tan 1px outset;
	border-top: tan 1px outset;
	font-weight: bold;
	font-size: 8pt;
	border-left: tan 1px outset;
	width: 90px;
	color: dimgray;
	border-bottom: tan 1px outset;
	font-family: Verdana,Helvetica, Arial;
	height: 18px;
	background-color: whitesmoke;
}

.HoursGridButton
{
	border-right: tan 1px outset;
	border-top: tan 1px outset;
	font-weight: bold;
	font-size: 9pt;
	border-left: tan 1px outset;
	width:100px;
	color: dimgray;
	border-bottom: tan 1px outset;
	font-family: Verdana,Helvetica, Arial;
	height: 20px;
	background-color: whitesmoke;
}

/*Info labels */
.ErrorLabel
{
	font-weight: bold;
	font-size: 9pt;
	color: red;
	font-family: Verdana,Helvetica, Arial;
}

.InfoLabel
{
	font-weight: bold;
	font-size: 9pt;
	color: black;
	font-family: Verdana,Helvetica, Arial;
}

.HoursGridStatusLabel
{
	font-weight: bold;
	font-size: 8pt;
	color: dimgray;
	font-family: Verdana,Helvetica, Arial;
}

/*Menu table */
.menuTable A:Visited, .menuTable A:Link
{
/*	font-size: 10pt; */
	color: sienna;
	font-family: Arial;
	background-color: transparent;
	text-decoration: none;
}

.highlightedMenuItem
{
	font-weight:bold;
	font-size: 11pt;
}

.menuItem
{
	font-size: 10pt;
}

.menuTable A:hover
{
	text-decoration: underline;
}


/* report grid */

.ReportGrid
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	border-bottom-style: none;
}

.reportGrid TD
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 9pt;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
	font-family: Verdana,Helvetica, Arial;
}



.reportGridHeader 
{
	font-weight: bold;
	font-size: 19pt;
	color: white;
	font-family: Verdana,Helvetica, Arial;
	background-color: peru;
}
/* project profile */
.lblSubheader
{
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
}

.lblDiv1
{
	font-size: 11px;
	color: black;
}

.tabNotSelected
{
	color: navy;
}

.tabSelected
{
	font-weight: bold;
	color: navy;
}

.Div2Header
{
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.Div2Subheader
{
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
}

.Div2RowTitle
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	font-family: Arial;
}

.ReportsTotal
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	font-family: Arial;
	background-color: gray;
	
}
.ReportsSubTotal
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	font-family: Arial;
	background-color: lightgrey;
}
.inactive
{
	background-color:#E7D2B2;

}
.black
{
	background-color: lightgrey;
}
.hoursFormLink
{
  
  font-size: 12px;
  color: #804000;
  font-family: Verdana;
}

.testStyle
{
  color: #993300;
}

.projectFolderLink
{
  font-size: 9pt;
  color: navy;
  font-family: Arial;
}
.Concluded
{
	background-color: darkkhaki;
}.DataLabel
{
	font-size: 9pt;
	width: 100%;
	color: dimgray;
	font-family: Verdana,Helvetica, Arial;
	
}
.textboxSalary
{
	width:50px;
	border-right-color:darkorange;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:darkorange;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:darkorange;
	border-left-style:solid;
	border-left-width:1px;
	border-bottom-color:darkorange;
	border-bottom-style:solid;
	border-bottom-width:1px;
}