﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageFooter.ascx.cs" Inherits="PM.UserControls.PageFooter" %>
			<asp:label id="lblTitle" ForeColor="white" Font-Bold="True" Font-Size="Medium" runat="server"></asp:label>&nbsp;
	    <p>footer test</p>							
    </body>
    
</HTML>