﻿<%@ Control Language="c#" AutoEventWireup="True" Codebehind="PageHeader.ascx.cs" Inherits="PM.UserControls.PageHeader" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<script language="javascript"> 
function document.onkeydown() { 
     if ( event.keyCode ==  13 ) { 
     if(Form1.btnEnter!=null)
         Form1.btnEnter.click(); 
        event.returnValue=false; 
    } 



} 
function popup()
{
				LeftPosition = (screen.width) ? (screen.width-750)/2 : 0;
				TopPosition = (screen.height) ? (screen.height-670)/2 : 0;		
				varFeature = "height="+670+",width="+750+",top="+100+",left="+LeftPosition+",resizable=no,scrollbars=yes";
				
				var wpopup = window.open("ISO.htm","ISO",varFeature);
				wpopup.focus();
}


</script>

			<TABLE id="Table2" height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">

				<TR>
					<td width="360" style="padding: 10px;"><IMG width="320" alt="" src="../images/logo.ex.png" >
                    
                    <asp:PlaceHolder id="menuHolder" runat="server"></asp:PlaceHolder></TD>
                    <td>									<asp:label id="lblTitle"   runat="server"></asp:label>&nbsp;
									<asp:Button id="btnEdit" tabIndex="5" BorderColor="Tan" BackColor="WhiteSmoke" BorderWidth="1px"
										BorderStyle="Solid" Height="20px" Width="90" Text="Редакция" runat="server" Visible="False"></asp:Button></td>
					<td noWrap vAlign="top" align="right">
                        <asp:label id="lblUser" runat="server" Font-Size="X-Small" Font-Bold="True" ForeColor="black"></asp:label><br />
									<asp:Button id="btnBG" tabIndex="-1"  class="ActionButton Lang"
										  runat="server" Text="български" onclick="btnBG_Click"></asp:Button>
									<asp:Button id="btnEN" tabIndex="-1"  class="ActionButton Lang"
										   runat="server" Text="english" onclick="btnEN_Click"></asp:Button>
									<asp:Button id="btnLogOut" class="ActionButton Exit" TabIndex="-1" runat="server" onclick="btnLogOut_Click"></asp:Button>	
<!--
						<IMG border="0" src="images/help.gif" onmouseover="this.src = 'images/help.over.gif'"
							onmouseout="this.src = 'images/help.gif'">
						<asp:HyperLink id="lkHelp" style="CURSOR: hand" runat="server" ForeColor="DarkOrange" Target="_blank"
							Font-Underline="True" Font-Bold="True">Помощ</asp:HyperLink>&nbsp;&nbsp;
						<asp:HyperLink id="HyperLink2" style="CURSOR: hand" runat="server" ForeColor="DarkOrange" Font-Underline="True"
							NavigateUrl="mailto:info@ermena.com" Target="_blank" Font-Bold="True"></asp:HyperLink>&nbsp; 
						&nbsp;-->

					</TD>
				</TR>

			</TABLE>

