

.calendarTable
{

	text-align: center;
	
}




.calendarTable TD
{

	width: 32px;
    height: 32px;
    position: relative;
    line-height: 16px;
}

.calendarTable a, .calendarTable a:visited
{
    border-radius: 32px;
     line-height: 32px;
    display: block;

    
	font-size:9pt;
	text-decoration: none;
	background-color:Transparent;

}

.calendarTable a:hover
{
	background: #00487c; color: White !important;
}

.monthName
{

	width: 50px;
	color: saddlebrown;
	font-weight: 900;
	height: 15px;
	background-color: white;
	text-align: center;
}

.MonthDay A:visited, .MonthDay A:link
{
	color: saddlebrown;
}


.OtherMonthDay A:visited, .OtherMonthDay A:link
{
	color: gray;
	font-size: 7pt;
}

.OtherMonthDayWeekend A:visited, .OtherMonthDayWeekend A:link
{
	color: black;
	font-size: 7pt;
}

.OtherMonthDayWeekend
{
	font-weight: 900;
}



.Today A:visited, .Today A:link
{
	border: 1px solid #00487c; color: #00487c; font-weight: 900; 
}

.WeekendDay
{
    color: #00487c !important;
    font-weight: 900;
    background: #fefefe;
}

.WeekendDay A:visited, .WeekendDay A:link
{
	color: #00487c;
}

.selectedday td
{
	color: White ;  line-height: 28px; line-height: 18px !important;
}

 .selectedday a
{
	color: White; font-weight: 900; background: #00487c;
}


.NotEnteredDay A:visited, .NotEnteredDay A:link
{
	color: gray;
}

.DayWeekendNotEntered
{
	background-color: antiquewhite;
}


.DayWeekendNotEntered A:visited, .NotEnteredDayWeekend A:link
{
	color: gray;
}

.MonthDayNotEntered A:visited, .MonthDayNotEntered A:link
{
	color: gray;
}

.NotEnteredDayLink
{
	font-weight: bold;
	color: blue;
	background-color: transparent;
}



